---
layout: splash
author_profile: true
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/unsplash-image-1.jpg
excerpt: "Develop quickly, perfectly and deliver on time"
intro: 
  - excerpt: 'I bring the quality development with latest trends with mix of timely deliver with professional attitude'
feature_row:
  - image_path: assets/images/android-development.jpg
    #image_caption: "Image courtesy of [Unsplash](https://unsplash.com/)"
    title: "Android App Development"
    excerpt: "I do Android app development"
  - image_path: /assets/images/backend-development.png
    title: "Backend Java/AWS Development"
    excerpt: "I are great at developing the java backend using spring and others and technologies related to AWS"
  - image_path: /assets/images/reactjs.jpg
    title: "React.js Development"
    excerpt: "I Provide react web-app development servics"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}